body{
    margin: 0;
    background: linear-gradient(to right, lightblue, yellow);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: rgba(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    width: 90%;
    max-width: 550px;
    text-align: center;
}

.heading{
    font-size: 25px;
}

.btn{
    background-color: darkgreen;
    color: white;
    padding: 14px 25px;
    border-radius: 7px;
    border: 2px solid black;
    width: 170px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 3rem;
}

.btn:disabled{
    background-color: gray;
    cursor: not-allowed;
}

.anime-container{
    display: none;
}

.anime-container img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 3rem;
    border: 3px solid darkgreen;
}

.anime-name{
    background-color: darkgreen;
    color: white;
    padding: 14px 25px;
    border-radius: 7px;
    width: 400px;
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto 3rem auto;
}